// SCSS

section.hero {
  padding: 80px 0;

  .heading {
    h1 {
      font-weight: 100;
      font-size: 5rem;
      line-height: 73px;
      color: var(--h1-text-color);
      margin-bottom: 0;
    }
  }
}

.buttons {
  margin-top: 40px;
  margin-bottom: 10px;

  .btn {
    font-size: 1.6rem;
    font-weight: bold;
    border-radius: 5px;
    padding: 12px 12px;
    line-height: 24px;
  }
}

.image-figure {
  max-width: 100%;
  overflow: hidden;
  border: solid 2px var(primary);
  width: 100%;
  height: auto;
  border-radius: 48px 48px 100px 48px;
}

.about-img {
  max-width: 100%;
  border-radius: 18px 18px 100px 18px;
}

section.setup {
  .container {
    .text-header {
      text-align: center;

      h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
      }

      p {
        font-size: 1.2rem;
        font-weight: 300;
        padding: 27px 0;
      }
    }

    .items {
      text-align: left;

      .row {
        .col-md-4 {
          .card {
            img {
              width: 100%;
              border-radius: 20px;
            }
            .fixed-size-img {
              width: 100%x;
              height: 250px;
              border-radius: 20px;
            }
          }

          .desc {
            h3 {
              font-size: 3rem;
              margin-bottom: 1rem;
              font-weight: 700;
              list-style: 24px;
              margin-top: 1rem;
            }

            p {
              font-size: 13px;
              font-weight: 400;
              line-height: 22px;
              max-width: 100%;
              margin: 1 auto;
            }
          }
        }
      }
    }
  }
}

// Our customers section  logos
section.customers-logos .text-information {
  padding: 110px 0;
}

.text-information h3 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 700;
  list-style: 24px;
  margin-top: 1rem;
}
.img-logo img {
  width: 100%;
  aspect-ratio: 3/1;
  object-fit: contain;
  mix-blend-mode: color-d;
}
.we-help-text {
  margin-top: 10rem;
}
.card-b {
  background-color: rgba(7, 42, 108, 1);
  border: 1px solid #38a8cb;
  padding: 10px;
  .card-body {
    h5 {
      font-weight: bold;
    }
    p {
      font-size: 14px;
      line-height: 1.5;
    }
    a.btn {
      margin-top: 10px;
    }
  }
}

// Save what we

.container {
  .row {
    .col-md-4 {
      .card-b {
        h5 {
          font-size: 1.9rem;
          margin-bottom: 1rem;
          font-weight: 700;
          list-style: 24px;
          margin-top: 1rem;
          text-align: center;
        }
        p {
          text-align: justify;
          font-size: 1rem;
          font-weight: 300;
        }
        a {
          text-align: center;
          &.btn {
            &.btn-primary {
              background-color: $gray-600;
              color: white;
            }
          }
        }
      }
    }
  }
}

// Our customers section  logos
section.customers-info .text-information-2 {
  padding: 110px 0;
}
.info-1 {
  margin-top: -189px;
  padding: 110px 0;
  margin-bottom: 2rem;
}
.text-information-2 h3 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 700;
  list-style: 24px;
  margin-top: 1rem;
}
.img-logo img {
  width: 100%;
  aspect-ratio: 3/1;
  object-fit: contain;
  mix-blend-mode: color-d;
}

.content {
  height: 70vh;
}

.footer-39201 {
  padding: 15rem 0;
  color: #9d9d9d;
  background-color: rgba(8, 38, 94, 1);
  // margin-bottom: 12rem;
}
.footer-39201 .subscribe {
  position: relative;
}
.footer-39201 .subscribe .form-control {
  background-color: #e6e6e6;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 30px;
  height: 50px;
  padding-left: 30px;
  padding-right: 130px;
  border: none;
  color: #fff;
}
.footer-39201 .subscribe .form-control::-webkit-input-placeholder {
  color: #b3b3b3;
  font-style: italic;
  font-size: 14px;
}
.footer-39201 .subscribe .form-control::-moz-placeholder {
  color: #b3b3b3;
  font-style: italic;
  font-size: 14px;
}
.footer-39201 .subscribe .form-control:-ms-input-placeholder {
  color: #b3b3b3;
  font-style: italic;
  font-size: 14px;
}
.footer-39201 .subscribe .form-control:-moz-placeholder {
  color: #b3b3b3;
  font-style: italic;
  font-size: 14px;
}
.footer-39201 .subscribe .btn-submit {
  background: $gray-600;
  height: 40px;
  border-radius: 30px;
  padding-left: 30px;
  padding-right: 30px;
  color: #fff;
  font-weight: bold;
  position: absolute;
  top: 5px;
  right: 5px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.footer-39201 h3 {
  font-size: 16px;
  font-weight: 900;
  color: #fff;
  margin-bottom: 20px;
}
.footer-39201 .nav-links li {
  display: block;
  margin-bottom: 10px;
}
.footer-39201 .nav-links li a {
  color: #9d9d9d;
}
.footer-39201 .nav-links li a:hover {
  color: #10ac7d;
}
.footer-39201 .social li {
  display: inline-block;
}
.footer-39201 .social li a {
  display: inline-block;
  padding: 10px;
  color: #fff;
}
.footer-39201 .social li a:hover {
  color: $gray-600;
}

// input fields section

.form-control {
  background-color: rgba(255, 255, 255, 1);
  border: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

// About section

.card-10 {
  background-color: rgba(16, 205, 231, 0.32);
  border-top: 10px solid rgba(185, 60, 153, 1);
}

.card-20 {
  background-color: rgba(5, 49, 71, 1);
  border-top: 10px solid rgba(236, 170, 188, 1);
}
.card-30 {
  background-color: rgba(22, 8, 2, 0.29);
  border-top: 10px solid rgba(103, 139, 179, 1);
}
.card-40 {
  background-color: rgba(16, 205, 231, 0.32);
  border-top: 10px solid rgba(185, 60, 153, 1);
}
.card-50 {
  background-color: rgba(121, 139, 160, 0.6);
  border-top: 10px solid rgba(37, 113, 155, 1);
}

.col-lg-3 {
  padding: 1rem;

  h3 {
    font-size: 2rem;
    font-weight: 700;
  }

  h5 {
    font-size: 1.2rem;
    font-weight: 200;
  }

  p {
    font-size: 1.2rem;
    font-weight: 300;
  }
}
.fa-brands {
  color: #fff;
}

// Contact section
.get_in_touch {
  width: 1170px;
  margin: 50px auto;
  padding: 30px;
  position: relative;
  box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.1);
}

.get_in_touch .title {
  text-align: center;
  letter-spacing: 3px;
  font-size: 48px;
  line-height: 48px;
  padding-bottom: 20px;
  background: linear-gradient(to right, #f4524d, #5543ca);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

.contact-form .form-field {
  position: relative;
  margin-bottom: 32px;
}

.contact-form .input-text {
  width: 100%;
  height: 64px;
  // border-bottom: 2px solid rgba(7, 42, 108, 1);
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  display: block;
}

.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label {
  transform: translateY(-24px);
}
.contact-form .input-text:focus {
  outline: none;
}

.contact-form .label {
  position: absolute;
  bottom: 11px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #ccc;
  cursor: text;
  text-transform: capitalize;
  transition: transform 0.2s ease-in-out;
  left: 20px;
}

.contact-form .submit-btn {
  display: inline-block;
  background: linear-gradient(125deg, #a72879, #064497);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  width: 200px;
  cursor: pointer;
}



@media (max-width: 768px) {
  section.hero {
    padding: 60px 0;

    Copy code .heading {
      h1 {
        font-size: 3.5rem;
        line-height: 55px;
      }
    }
  }

  .buttons {
    .btn {
      font-size: 1.4rem;
      padding: 8px 8px;
      line-height: 20px;
    }
  }

  .image-figure {
    border-radius: 36px 36px 80px 36px;
  }
}

@media (max-width: 480px) {
  section.hero {
    padding: 40px 0;

    Copy code .heading {
      h1 {
        font-size: 2.5rem;
        line-height: 40px;
      }
    }
  }

  .buttons {
    .btn {
      font-size: 1.2rem;
      padding: 6px 6px;
      line-height: 16px;
    }
  }

  .image-figure {
    border-radius: 24px 24px 60px 24px;
  }
}

@media only screen and (max-width: 767px) {
  .get_in_touch {
    width: 100%;
    margin: 50px 0;
  }
  .contact-form .input-text {
    height: 48px;
  }
  .contact-form .label {
    bottom: 7px;
    font-size: 16px;
    line-height: 24px;
  }
  .contact-form .submit-btn {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .get_in_touch .title {
    font-size: 36px;
    line-height: 36px;
  }
  .contact-form .input-text {
    font-size: 16px;
    line-height: 24px;
  }
  .contact-form .label {
    font-size: 16px;
    line-height: 24px;
  }
}
