video {
  display: block;
  margin: 0 auto;
  margin-bottom: 15rem;
}

.video-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;

  video {
    max-width: 650px;
  }

  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.section-title {
  text-align: center;
}

.subscribe-btn {
  display: block;
  margin: 0 auto;
  font-size: 2rem;
  max-width: 249px;
  padding: 3rem -6rem;
  margin-bottom: 2rem;
}

// .container-section {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   padding: 20px;

//   .video {
//     height: 0;
//     padding-bottom: 42.6%; // 16:9 aspect ratio
//     position: relative;

//     &__frame {
//       position: absolute;
//       top: 0;
//       left: 0;
//       width: 100%;
//       height: 100%;
//     }

//     iframe {
//       width: 100%;
//       height: 100%;
//       box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
//     }
//   }

//   .col-md-6 {
//     text-align: center;

//     .section-title {
//       margin-top: 0;
//       margin-bottom: 20px;
//       font-size: 24px;
//       font-weight: bold;
//     }

//     .btn-primary {
//       background-color: #007bff;
//       color: #fff;
//       border: none;
//       padding: 10px 20px;
//       border-radius: 5px;
//       text-transform: uppercase;
//       font-size: 14px;
//       font-weight: bold;

//       &:hover {
//         background-color: #0062cc;
//       }
//     }
//   }

//   @media (max-width: 768px) {
//     flex-direction: column;

//     .col-md-6 {
//       margin-top: 20px;
//     }
//   }
// }

// .video {
//   // the good stuff:
//   height: 0;
//   padding-bottom: 42.6%; // ratio of the video 16/9 would be 56.25% (42.6 % of he width of the parent element)
//   position: relative;

//   &__frame { // .video__frame
//     position: absolute;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     width: auto;
//     height: auto;
//   }

//   iframe {
//     width: 100%;
//     height: 100%;

//      box-shadow: 0 0 40px #000;
//   }
// }

// .container {
//   position: relative; // this must be relative or absolute.. or fixed
//   width: 90%;
//   margin: 10vh auto;
// }
// .video-section {
//   background-color: #072a6c;
//   padding: 50px 0;

//   .container {
//     display: flex;
//     flex-direction: column;
//     align-items: center;

//     .row {
//       display: flex;
//       flex-direction: row;
//       align-items: center;

//       .col-md-6 {
//         padding: 0 30px;

//         .video-wrapper {
//           position: relative;
//           height: 0;
//           // width: 50%;
//           padding-bottom: 56.25%;

//           iframe {
//             position: absolute;
//             top: 0;
//             left: 0;
//             width: 100%;
//             height: 100%;
//           }
//         }

//         .section-title {
//           margin-top: 30px;
//           font-size: 24px;
//           font-weight: bold;
//         }

//         .btn {
//           margin-top: 20px;
//         }

//         .btn-primary {
//           background-color: #007bff;
//           color: #fff;
//           border: none;
//           padding: 10px 20px;
//           border-radius: 5px;
//           text-transform: uppercase;
//           font-size: 14px;
//           font-weight: bold;

//           &:hover {
//             background-color: #0062cc;
//           }
//         }
//       }
//     }
//   }

//   @media (max-width: 768px) {
//     .container {
//       .row {
//         flex-direction: column;

//         .col-md-6 {
//           padding: 0;

//           .video-wrapper {
//             padding-bottom: 56.25%;
//             width: 100%;

//             iframe {
//               height: 100%;
//             }
//           }

//           .section-title {
//             margin-top: 20px;
//           }

//           .btn {
//             margin-top: 20px;
//             display: block;
//             text-align: center;
//           }
//         }
//       }
//     }
//   }

//   @media (min-width: 992px) {
//     .col-md-6 {
//       width: 40%;
//     }
//     .video-wrapper {
//       width: 60vw;
//       height: 33.75vw;
//       margin: 0 auto;
//     }
//   }
// }
